<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Wager</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class = "level">
    <div class = "level-left">
      <a href="/login"><img id="logo" src="/assets/img/dice.png" alt="face logo"/></a>
      <div id = "displayingUsername">
      </div>
    </div>
    <div class ="level-right">
          <img id = "chipLogo" src = "/assets/img/chipLogo.png" alt = "chip logo"/>
          <section id = "chipData"></section>
          <div id="signout"><a href="/logout">Sign out</a></div>
    </div>
  </nav>  
  <section id = "coinContent"></section>
  <section id="lobbyWrapper"></section>
  

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/appBundle.js"></script>
</body>
</html>
